{% import _self as menus %}
{# Define macro for rendering menu items recursively #}
{% macro menu_links(items, menu_level) %}
    {% if items %}
        {% if menu_level == 0 %}
            <ul class="flex w-full">
                {% for item in items %}
                    {% set item_classes = "mx-auto w-full flex-col group mx-auto transition-colors items-center duration-300 ease-in-out text-sm md:text-base flex relative text-blue-500 font-semibold" %}
                    <li {{ item.attributes.addClass(item_classes) }}>
                        <div class="relative mx-auto w-full flex flex-col group-hover:text-blue-400 text-gray-800 my-auto hover:text-blue-800 transition-colors duration-300 ease-in-out">
                            <a class="mx-auto" href={{ item.url }}>
                                {{ item.title }}
                            </a>
                            {% if item.below %}{{ menus.menu_links(item.below, menu_level + 1) }}{% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="hidden group-hover:flex hover:flex bg-white absolute top-0 left-0 w-full ">
                <ul class="flex flex-col mx-auto w-full absolute top-6 left-0  bg-white text-xs pt-2 space-y-2">
                    {% for item in items %}
                        {% set item_classes = "w-full transition-colors items-center duration-300 ease-in-out md:text-base flex text-blue-500 font-light" %}
                        <li {{ item.attributes.addClass(item_classes) }}>
                            <div class="w-full flex flex-col overflow-visible hover:text-blue-400 text-gray-800 my-auto  transition-colors duration-300 ease-in-out">
                                <a class="mx-auto" href={{ item.url }}>
                                    {{ item.title }}
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endif %}
{% endmacro %}
<div class="w-full border-y-2 border-black">
    <div class="flex flex-row mx-auto w-5/6 md:w-2/3 space-x-2">
        <!-- branding   -->
        <div id="logo-block" class="ml-0 mr-auto p-2 md:p-0 md:my-6 w-full">
            <a href="{{ path("<front>") }}"
               class="flex mr-auto my-auto space-x-2 text-[#001524]"
               rel="home">
                <img src="/sites/default/files/Logo.svg"
                     alt="institute logo"
                     class="my-auto w-10 h-10 md:w-16 md:h-16 md:mr-4 mr-2" />
                <div class="flex-col md:w-[10vw] hidden lg:flex">
                    <img src="/sites/default/files/2025-01/ICDE.png"
                         alt="ICDE"
                         class="md:w-full md:mt-auto md:mb-auto my-auto" />
                    <img src="/sites/default/files/2025-01/Text.png"
                         alt="Institute for Countering Digital Extremism"
                         class="md:mt-auto md:mb-auto" />
                </div>
            </a>
        </div>
        <nav class="flex items-center md:mr-8 w-full"
             role="navigation"
             aria-label="{{ 'Main navigation'|t }}">
            {{ menus.menu_links(items, 0) }}
        </nav>
    </div>
</div>
