<div class="layout-container">
    {% if page.header %}{{ page.header }}{% endif %}
    {% if page.primary_menu %}{{ page.primary_menu }}{% endif %}
    {% if page.featured %}{{ page.featured }}{% endif %}
    <main role="main">
        {% if page.hero %}{{ page.hero }}{% endif %}
    </main>
    {% if page.footer %}{{ page.footer }}{% endif %}
</div>
