<div class="layout-container">
    {% if page.header %}
        <header role="banner">
            {{ page.header }}
        </header>
    {% endif %}
    {% if page.breadcrumb %}{{ page.breadcrumb }}{% endif %}
    <main role="main">
        <a id="main-content" tabindex="-1"></a>
        {{ page.content }}
    </main>
    <footer class="flex flex-col w-full mt-16">
        {% if page.footer %}<div class="flex w-1/2 mx-auto">{{ page.footer }}</div>{% endif %}
        <div class="flex w-1/2 mx-auto">Institute for Countering Digital Extremism &copy; {{ 'now'|date("Y") }}</div>
    </footer>
</div>
